body {
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: Lato;
    font-style: normal;
    background-image: url(images/schoolgrounds.jpg);
    z-index: -1;
    overflow-x: hidden;
}

.week {
    background-color: white;
    border: none;
    color: #00583D;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    width: 365px;
    height: 109px;
    display: block;
    left: 23%;
}


.dropdown-content {
    position: relative;
    background-color: #fff;
    display: none;
    left: 32%;
    top: 75px;
    width: 365px;
}


.show {
    display: block;
}

.button-block {
    top: 50vh;
    background: #00583D;
    height: 25%;
    position: absolute;
    width: 100%;
}

.button-default {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    text-decoration: underline;
    top: 75px;
}

.button-current {
    background-color: #FFD614;
    border: none;
    color: #00583D;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    width: 365px;
    height: 109px;
    top: 75px;
}

#lunch {
    left: 13%;
    position: relative;
}

#morning-tea {
    left: 10%;
    position: relative;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    background: #00583D;
    z-index: -1;
    position: relative;
    top: 75vh;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
}

    .container::after {
        content: "";
        width: 400px;
    }

.item {
    background-color: #fff;
    color: #00583D;
    width: 400px;
    height: 400px;
    margin-bottom: 75px;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

.buttons {
    top: 75vh;
    background-color: #00583D;
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    transform: translateY(650%) translateX(70%);
}

.input {
    background: #E4E4E4;
    width: 125px;
    height: 50px;
    transform: translateY(632%) translateX(-170%);
    border: none;
    font-size: 36px;
    font-family: inherit;
    color: #00583D;
    text-align: center;

}

.item-number {
    background: #E4E4E4;
    width: 125px;
    height: 50px;
    transform: translateY(550%) translateX(25%);
}

.info {
    text-transform: uppercase;
}

.header {
    position: absolute;
    width: 100%;
    height: 17.5%;
    top: 0;
    background: #FFD614;
    z-index: -1;
}

.separator {
    position: absolute;
    width: 100%;
    height: 1.5%;
    top: 16%;
    background: #FFFFFF;
    z-index: -1;
}


#colorOverlay {
    position: absolute;
    background-color: rgba(9,85,64,.75);
    width: 100vw;
    height: 100%;
    top: 17.5%;
    z-index: -1;
}

#logo {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 15%;
    left: 2.5%;
    z-index: -1;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50vh;
    background: #00583D;
    z-index: -1;
}

.order-text {
    position: absolute;
    width: max-content;
    height: 115px;
    left: 50%;
    top: 17.5%;
    transform: translate(-50%, -50%);
    font-family: inherit;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    color: #FFFFFF;
    text-align: center;
}

.button {
    position: absolute;
    width: 226px;
    height: 66px;
    left: 607px;
    top: 581px;
}

.cart {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 80%;
    top: 5%;
    color: black;
}

/* cart page */

.cart-container {
    background-color: white;
    top: 50%;
    left: 12.5%;
    height: 67.5%;
    display: block;
    width: 75%;
    position: absolute;

}
